/* .active{
    background-color: #000491;
    color:white;
    border-radius: 0.25rem;
    padding: 12px;
}
.inactive{
    background-color: none;
    color:black;
    border-radius: 0.25rem;
    padding: 12px;
} */